:root {}

.u-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0)
}

[dir] .u-visually-hidden {
    padding: 0;
    margin: -1px;
    border: 0
}

.ico__svg {
    width: auto;
    max-width: 100%;
    height: 1em;
    font-size: var(--ico-size);
    fill: currentColor
}

.ico--square .ico__svg {
    width: 1em
}

.ico__svg--is-loading {
    width: 1px;
    height: 1px;
    vertical-align: middle
}

[dir] .ico__svg--is-loading {
    border-radius: 50%;
    box-shadow: 0 0 0 var(--ico-loader-size) currentColor;
    background-color: currentColor
}

.ico--size-xxl {
    --ico-size: 1.875em
}

.ico--size-xl {
    --ico-size: 1.5em
}

.ico--size-l {
    --ico-size: 1.25em
}

.ico--size-m {
    --ico-size: 1em
}

.ico--size-s {
    --ico-size: 0.875em
}

.ico--size-xs {
    --ico-size: 0.75em
}

.ico--size-xxs {
    --ico-size: 0.625em
}

.ico--size-xxxs {
    --ico-size: 0.5em
}

[data-v-510f4cb1]:root {}

.u-visually-hidden[data-v-510f4cb1] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0)
}

[dir] .u-visually-hidden[data-v-510f4cb1] {
    padding: 0;
    margin: -1px;
    border: 0
}

.bonuses__sidebar[data-v-510f4cb1] {
    position: fixed;
    top: 4.9375em;
    z-index: 1001
}

[dir=ltr] .bonuses__sidebar[data-v-510f4cb1],
[dir="ltr"] .bonuses__sidebar[data-v-510f4cb1],
[dir='ltr'] .bonuses__sidebar[data-v-510f4cb1] {
    right: 0
}

[dir=rtl] .bonuses__sidebar[data-v-510f4cb1],
[dir="rtl"] .bonuses__sidebar[data-v-510f4cb1],
[dir='rtl'] .bonuses__sidebar[data-v-510f4cb1] {
    left: 0
}

[dir] .bonuses__game~.bonuses__sidebar[data-v-510f4cb1] {
    transform: translateY(3.75em)
}

.bonuses-game[data-v-510f4cb1] {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-auto-flow: column;
    grid-gap: .5em;
    color: var(--theme-on-primary--40)
}

[dir] .bonuses-game[data-v-510f4cb1] {
    padding: .5em;
    background-color: var(--theme-primary--40)
}

.bonuses-game__type[data-v-510f4cb1] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5em;
    height: 2.5em
}

[dir] .bonuses-game__type[data-v-510f4cb1] {
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, .1)
}

.bonuses-game__ico[data-v-510f4cb1] {
    display: flex
}

.bonuses-game__text[data-v-510f4cb1] {
    display: inline-block
}

.bonuses-game__close[data-v-510f4cb1] {
    color: inherit
}

[dir=ltr] .bonuses-game__close[data-v-510f4cb1],
[dir="ltr"] .bonuses-game__close[data-v-510f4cb1],
[dir='ltr'] .bonuses-game__close[data-v-510f4cb1] {
    margin-left: auto
}

[dir=rtl] .bonuses-game__close[data-v-510f4cb1],
[dir="rtl"] .bonuses-game__close[data-v-510f4cb1],
[dir='rtl'] .bonuses-game__close[data-v-510f4cb1] {
    margin-right: auto
}

.bonuses-sidebar[data-v-510f4cb1] {
    --ico-loader-size: 0.625rem;
    display: flex;
    flex-direction: column
}

.bonuses-sidebar__item[data-v-510f4cb1] {
    width: 2.8125em;
    height: 2.8125em
}

[dir] .bonuses-sidebar__item[data-v-510f4cb1] {
    border-style: solid;
    border-color: var(--theme-secondary--10)
}

[dir=ltr] .bonuses-sidebar__item[data-v-510f4cb1],
[dir="ltr"] .bonuses-sidebar__item[data-v-510f4cb1],
[dir='ltr'] .bonuses-sidebar__item[data-v-510f4cb1] {
    border-width: 1px 0 1px 1px
}

[dir=rtl] .bonuses-sidebar__item[data-v-510f4cb1],
[dir="rtl"] .bonuses-sidebar__item[data-v-510f4cb1],
[dir='rtl'] .bonuses-sidebar__item[data-v-510f4cb1] {
    border-width: 1px 1px 1px 0
}

[dir=ltr] .bonuses-sidebar__item[data-v-510f4cb1]:first-child,
[dir="ltr"] .bonuses-sidebar__item[data-v-510f4cb1]:first-child,
[dir='ltr'] .bonuses-sidebar__item[data-v-510f4cb1]:first-child {
    border-top-left-radius: 4px
}

[dir=rtl] .bonuses-sidebar__item[data-v-510f4cb1]:first-child,
[dir="rtl"] .bonuses-sidebar__item[data-v-510f4cb1]:first-child,
[dir='rtl'] .bonuses-sidebar__item[data-v-510f4cb1]:first-child {
    border-top-right-radius: 4px
}

[dir=ltr] .bonuses-sidebar__item[data-v-510f4cb1]:last-child,
[dir="ltr"] .bonuses-sidebar__item[data-v-510f4cb1]:last-child,
[dir='ltr'] .bonuses-sidebar__item[data-v-510f4cb1]:last-child {
    border-bottom-left-radius: 4px
}

[dir=rtl] .bonuses-sidebar__item[data-v-510f4cb1]:last-child,
[dir="rtl"] .bonuses-sidebar__item[data-v-510f4cb1]:last-child,
[dir='rtl'] .bonuses-sidebar__item[data-v-510f4cb1]:last-child {
    border-bottom-right-radius: 4px
}

[dir] .bonuses-sidebar__item~.bonuses-sidebar__item[data-v-510f4cb1] {
    border-top-width: 0
}